@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

/*
    Button links
*/
/* left menu animated */
.leftMenu ul.left {
  max-width: 100px;
  height: 280px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  top: 20%;
  left: -200px;
  transition: 0.4s ease;
  z-index: 10;
}
.leftMenu ul.left li {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 2px solid rgba(7, 125, 145, 0.6);
  background-color: rgba(7, 125, 145, 0.4);
  left: -120px;
}
.leftMenu ul.left li a {
  color: #F1F1F1;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.container {
  background-image: url(../image/background.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover cover;
  position: relative;
}
.container h2 {
  font-size: 2.1rem;
  color: #f9f9f9;
  letter-spacing: 2px;
  position: relative;
  max-width: 200px;
  height: 40px;
  margin: 0px auto;
  margin-bottom: 40px;
  text-align: center;
  z-index: 10;
}
.container h2::before {
  content: "";
  display: block;
  width: 230px;
  height: 80px;
  background-color: #077d91;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewY(4deg);
  -webkit-transform: translate(-50%, -50%) skewY(4deg);
  z-index: -1;
}

/*--------------------------------------
               PHONE MENU
--------------------------------------*/
.phoneMenu {
  display: none;
}

nav.phoneBurgerIcon {
  display: none;
}

/*--------------------------------------
                MENU TOP
--------------------------------------*/
nav.topMenu {
  position: relative;
  width: 100%;
  height: 10vh;
  z-index: 1;
}
nav.topMenu .contentMenu {
  width: 1200px;
  margin: 0px auto;
  position: relative;
  padding-top: 10px;
  top: -40px;
  opacity: 0.2;
}
nav.topMenu .contentMenu ul.left {
  max-width: 360px;
  height: 10vh;
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.topMenu .contentMenu ul.left li {
  margin-left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 2px solid rgba(7, 125, 145, 0.6);
  background-color: rgba(7, 125, 145, 0.4);
  transition: 0.4s ease;
}
nav.topMenu .contentMenu ul.left li:hover {
  background-color: rgba(7, 125, 145, 0.6);
}
nav.topMenu .contentMenu ul.left li a {
  color: #F1F1F1;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
nav.topMenu .contentMenu ul.right {
  height: 10vh;
  width: 840px;
  margin: 0px;
  float: left;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav.topMenu .contentMenu ul.right li {
  width: 120px;
  height: 35px;
  position: relative;
}
nav.topMenu .contentMenu ul.right li:hover {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
}
nav.topMenu .contentMenu ul.right li:hover a {
  transform: skewY(0deg);
  -webkit-transform: skewY(deg);
}
nav.topMenu .contentMenu ul.right li a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 10;
  transition: 0.6s ease;
}
nav.topMenu .contentMenu ul.right li a::before {
  content: "";
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  background-color: #077d91;
  z-index: -1;
  transition: 0.6s ease;
}
nav.topMenu .contentMenu ul.right li a::after {
  content: "";
  display: block;
  width: 140px;
  height: 40px;
  position: absolute;
  left: -10px;
  top: 0px;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  background-color: transparent;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid #f9f9f9;
  transition: 0.6s ease;
}
nav.topMenu .contentMenu ul.right li a:hover {
  font-size: 1.18rem;
}
nav.topMenu .contentMenu ul.right li a:hover::before {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
}
nav.topMenu .contentMenu ul.right li a:hover::after {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  width: 120px;
  left: 0px;
}

/*--------------------------------------
                HOME  
--------------------------------------*/
section.home {
  height: 90vh;
  width: 100%;
  position: relative;
  padding-top: 50px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
section.home .homeBox {
  max-width: 1000px;
  margin: 0px auto;
  height: 75vh;
  margin: 0px auto;
  opacity: 0.2;
}
section.home .homeBox .leftHomeBox {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  position: relative;
}
section.home .homeBox .leftHomeBox::after {
  content: "";
  display: block;
  height: 90%;
  width: 80%;
  position: absolute;
  background-color: transparent;
  border: 2px solid #f9f9f9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewY(8deg);
  -webkit-transform: translate(-50%, -50%) skewY(8deg);
}
section.home .homeBox .leftHomeBox::before {
  content: "";
  display: block;
  height: 90%;
  width: 90%;
  position: absolute;
  background-color: transparent;
  border: 2px solid #077d91;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
section.home .homeBox .leftHomeBox img {
  width: 60%;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
}
section.home .homeBox .rightHomeBox {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.home .homeBox .rightHomeBox h1 {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: transparent;
  color: #050c11;
  text-shadow: -1px 1px 2px #22e8ed, 1px 1px 2px #22e8ed, 1px -1px 2px #22e8ed, -1px -1px 2px #22e8ed;
  width: 100%;
  margin: 0px;
}
section.home .homeBox .rightHomeBox a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 10;
  transition: 0.6s ease;
}
section.home .homeBox .rightHomeBox a::before {
  content: "";
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  background-color: #077d91;
  z-index: -1;
  transition: 0.6s ease;
}
section.home .homeBox .rightHomeBox a::after {
  content: "";
  display: block;
  width: 140px;
  height: 40px;
  position: absolute;
  left: -10px;
  top: 0px;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  background-color: transparent;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid #f9f9f9;
  transition: 0.6s ease;
}
section.home .homeBox .rightHomeBox a:hover {
  font-size: 1.18rem;
}
section.home .homeBox .rightHomeBox a:hover::before {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
}
section.home .homeBox .rightHomeBox a:hover::after {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  width: 120px;
  left: 0px;
}

/*--------------------------------------
                ABOUT ME  
--------------------------------------*/
section.aboutMe {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  background-color: rgba(5, 48, 61, 0.7);
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  margin-bottom: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}
section.aboutMe .contentAbouteMe {
  max-width: 1200px;
  margin: 0px auto;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
}
section.aboutMe .contentAbouteMe a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 10;
  transition: 0.6s ease;
}
section.aboutMe .contentAbouteMe a::before {
  content: "";
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  background-color: #077d91;
  z-index: -1;
  transition: 0.6s ease;
}
section.aboutMe .contentAbouteMe a::after {
  content: "";
  display: block;
  width: 140px;
  height: 40px;
  position: absolute;
  left: -10px;
  top: 0px;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  background-color: transparent;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid #f9f9f9;
  transition: 0.6s ease;
}
section.aboutMe .contentAbouteMe a:hover {
  font-size: 1.18rem;
}
section.aboutMe .contentAbouteMe a:hover::before {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
}
section.aboutMe .contentAbouteMe a:hover::after {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  width: 120px;
  left: 0px;
}
section.aboutMe .contentAbouteMe .contentAboutMeLeft {
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;
}
section.aboutMe .contentAbouteMe .contentAboutMeLeft p {
  font-size: 1.4rem;
  max-width: 500px;
  padding: 50px;
  background-color: transparent;
  text-align: left;
  position: relative;
  color: #f9f9f9;
  letter-spacing: 1.5px;
}
section.aboutMe .contentAbouteMe .contentAboutMeLeft p::before {
  content: "";
  display: block;
  width: 10px;
  height: 100%;
  background-color: #077d91;
  position: absolute;
  left: 0px;
  top: 0px;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 60px;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight .box {
  width: 400px;
  padding: 20px 50px 20px 50px;
  text-align: center;
  position: relative;
  text-align: left;
  margin-left: 40px;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight .box::before {
  content: "";
  display: block;
  width: 10px;
  height: 100%;
  background-color: #077d91;
  position: absolute;
  left: 0px;
  top: 0px;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight .box h3 {
  position: absolute;
  left: -60px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-size: 1.5rem;
  color: #f9f9f9;
  top: 30%;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight .box ul {
  list-style: none;
  margin: 0px;
  padding-top: 20px;
  padding-left: 0px;
  box-sizing: border-box;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight .box ul li {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: #f9f9f9;
  letter-spacing: 1.5px;
}
section.aboutMe .contentAbouteMe .contentAboutMeRight .box ul li span {
  font-size: 1rem;
  color: #B5B5B5;
}

/*--------------------------------------
                SKILLS 
--------------------------------------*/
section.skills {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
  /*---- slider ------*/
}
section.skills .skillsContent {
  max-width: 1200px;
  margin: 0px auto;
  margin-bottom: 60px;
}
section.skills .skillsContent h2 {
  margin-bottom: 100px;
}
section.skills .skillsContent a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 10;
  transition: 0.6s ease;
}
section.skills .skillsContent a::before {
  content: "";
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  background-color: #077d91;
  z-index: -1;
  transition: 0.6s ease;
}
section.skills .skillsContent a::after {
  content: "";
  display: block;
  width: 140px;
  height: 40px;
  position: absolute;
  left: -10px;
  top: 0px;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  background-color: transparent;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid #f9f9f9;
  transition: 0.6s ease;
}
section.skills .skillsContent a:hover {
  font-size: 1.18rem;
}
section.skills .skillsContent a:hover::before {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
}
section.skills .skillsContent a:hover::after {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  width: 120px;
  left: 0px;
}
section.skills .skillsContent ul {
  list-style: none;
  max-width: 800px;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px;
}
section.skills .skillsContent ul li {
  margin-bottom: 40px;
  color: #F1F1F1;
  width: 30%;
  height: 80px;
  background-color: transparent;
  font-size: 1.4rem;
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 10px;
  border-left: 5px solid #077d91;
  background-color: rgba(5, 48, 61, 0.7);
  text-align: center;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
}
section.skills .skillsContent ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 48, 61, 0.7);
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%) skewY(-8deg);
  -webkit-transform: translate(-50%, -50%) skewY(-8deg);
  border-right: 5px solid #077d91;
  z-index: -1;
}
section.skills .skillsContent ul li h4 {
  margin: 0px;
  font-size: 1.3rem;
  float: left;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
}
section.skills .skillsContent ul li span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: #077d91;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
}
section.skills .skillsContent ul li:nth-child(1) span:nth-child(-n+5) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(2) span:nth-child(-n+5) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(3) span:nth-child(-n+4) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(4) span:nth-child(-n+4) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(5) span:nth-child(-n+3) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(6) span:nth-child(-n+4) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(7) span:nth-child(-n+4) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(8) span:nth-child(-n+3) {
  background-color: #F1F1F1;
}
section.skills .skillsContent ul li:nth-child(9) span:nth-child(-n+3) {
  background-color: #F1F1F1;
}
section.skills .slider {
  width: 100%;
  background-color: rgba(5, 48, 61, 0.7);
  position: relative;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  padding-top: 80px;
  padding-bottom: 80px;
}
section.skills .slider a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 10;
  transition: 0.6s ease;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
}
section.skills .slider a::before {
  content: "";
  display: block;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  background-color: #077d91;
  z-index: -1;
  transition: 0.6s ease;
}
section.skills .slider a::after {
  content: "";
  display: block;
  width: 140px;
  height: 40px;
  position: absolute;
  left: -10px;
  top: 0px;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  background-color: transparent;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid #f9f9f9;
  transition: 0.6s ease;
}
section.skills .slider a:hover {
  font-size: 1.18rem;
}
section.skills .slider a:hover::before {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
}
section.skills .slider a:hover::after {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  width: 120px;
  left: 0px;
}
section.skills .slider .sliderContent {
  max-width: 1200px;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  margin: 0px auto;
  position: relative;
  margin-bottom: 80px;
}
section.skills .slider .sliderContent h3 {
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 40px;
  color: #f9f9f9;
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform: rotate(-90deg) translateY(-50%);
  margin: 0px;
  letter-spacing: 3px;
}
section.skills .slider .sliderContent h3::after {
  content: "";
  display: block;
  width: 130%;
  height: 5px;
  margin-top: 10px;
  background-color: #077d91;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
section.skills .slider .sliderContent .sliderContentBox {
  max-width: 800px;
  height: 500px;
  position: relative;
  margin: 0px auto;
}
section.skills .slider .sliderContent .sliderContentBox .prev {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  outline: none;
  border: 0px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.4rem;
  z-index: 10;
  transition: 0.6 ease;
}
section.skills .slider .sliderContent .sliderContentBox .prev:hover {
  background-color: #077d91;
  color: #F1F1F1;
}
section.skills .slider .sliderContent .sliderContentBox .next {
  position: absolute;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  outline: none;
  border: 0px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.4rem;
}
section.skills .slider .sliderContent .sliderContentBox .next:hover {
  background-color: #077d91;
  color: #F1F1F1;
}
section.skills .slider .sliderContent .sliderContentBox .boxShow {
  max-width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px 1px #050c11;
}
section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent {
  width: 600%;
  height: 500px;
  display: flex;
  transition: 0.4s ease;
}
section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide {
  width: 800px;
  height: 500px;
  position: relative;
}
section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide p {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #f9f9f9;
  margin: 0px auto;
  margin-top: 80px;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 10;
}
section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide p::after {
  content: "";
  display: block;
  background-color: #077d91;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  box-shadow: 2px 2px 10px 1px rgba(5, 48, 61, 0.3);
}
section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/*--------------------------------------
                CONTACT  
--------------------------------------*/
section.contact {
  width: 100%;
  padding-bottom: 80px;
}
section.contact h2 {
  margin-bottom: 100px;
}
section.contact .contactContent {
  max-width: 900px;
  margin: 0px auto;
  background-color: rgba(5, 48, 61, 0.7);
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  padding-top: 80px;
  padding-bottom: 80px;
}
section.contact .contactContent .contactContentBox {
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
}
section.contact .contactContent .contactContentBox h3 {
  font-size: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #F1F1F1;
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  -webkit-transform: translateY(-50%) rotate(-90deg);
}
section.contact .contactContent .contactContentBox h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 120%;
  height: 5px;
  background-color: #077d91;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
section.contact .contactContent .contactContentBox form {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}
section.contact .contactContent .contactContentBox form label {
  margin-right: 30px;
  padding: 10px;
  border-left: 2px solid #077d91;
  border-right: 2px solid #077d91;
  position: relative;
}
section.contact .contactContent .contactContentBox form label::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: rgba(5, 48, 61, 0.1);
}
section.contact .contactContent .contactContentBox form label::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #077d91;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
section.contact .contactContent .contactContentBox form label i {
  font-size: 1.3rem;
  color: #f9f9f9;
}
section.contact .contactContent .contactContentBox form input {
  width: 33%;
  outline: none;
  margin-bottom: 50px;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  color: #f9f9f9;
  border: none;
  padding: 3px;
  margin-left: 5px;
  z-index: 1;
}
section.contact .contactContent .contactContentBox form input::placeholder {
  color: #B5B5B5;
}
section.contact .contactContent .contactContentBox form .tekstAreaBox {
  width: 50%;
  outline: none;
  height: 150px;
  position: relative;
  background-color: transparent;
  padding: 25px;
  color: #f9f9f9;
  margin: 0px auto;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  background-color: rgba(5, 48, 61, 0.1) t;
  border-left: 3px solid #077d91;
  border-right: 3px solid #077d91;
  margin-top: 40px;
}
section.contact .contactContent .contactContentBox form .tekstAreaBox::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 50%;
  height: 1.5px;
  background-color: #077d91;
}
section.contact .contactContent .contactContentBox form .tekstAreaBox::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 50%;
  height: 1.5px;
  background-color: #077d91;
}
section.contact .contactContent .contactContentBox form .tekstAreaBox textarea {
  background-color: transparent;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  outline: none;
  color: #f9f9f9;
  border: none;
  resize: none;
  font-size: 1.05rem;
}
section.contact .contactContent .contactContentBox form .tekstAreaBox textarea::placeholder {
  color: #B5B5B5;
}
section.contact .contactContent .contactContentBox form input[type=submit] {
  width: 140px;
  height: 40px;
  background-color: transparent;
  color: #f9f9f9;
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0px auto;
  margin-top: 80px;
  border: 2px solid #077d91;
  font-size: 1rem;
  background-color: #077d91;
  transition: 0.6s ease;
}
section.contact .contactContent .contactContentBox form input[type=submit]:hover {
  background-color: transparent;
  color: #077d91;
}

/*----------------
phone
------------------*/
@media only screen and (max-width: 1180px) {
  body::-webkit-scrollbar {
    width: 0px !important;
  }
  html, body {
    width: 100% !important;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  /*------------------------------
              Top menu phone
  -------------------------------*/
  nav.phoneBurgerIcon {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-color: rgb(7, 125, 145);
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav.phoneBurgerIcon i {
    font-size: 1.4rem;
    color: #F1F1F1;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
  }
  .topMenu {
    display: none;
  }
  .phoneMenu {
    height: 100vh;
    position: fixed;
    width: 100%;
    background-color: rgb(5, 48, 61);
    z-index: 10000;
    text-align: center;
    right: -100%;
    display: block;
    display: flex;
    align-items: center;
    transition: 0.6s;
  }
  .phoneMenu i {
    position: absolute;
    right: 40px;
    top: 40px;
    color: #F1F1F1;
    font-size: 2rem;
  }
  .phoneMenu .contentMenuPhone {
    height: 60vh;
    width: 100%;
    margin: 0px;
  }
  .phoneMenu .contentMenuPhone ul.menu {
    height: 80%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-bottom: 40px;
  }
  .phoneMenu .contentMenuPhone ul.menu li {
    line-height: 10vh;
    font-size: 1.6rem;
  }
  .phoneMenu .contentMenuPhone ul.menu li a {
    text-decoration: none;
    color: #F1F1F1;
  }
  .phoneMenu .contentMenuPhone ul.icon {
    height: 20%;
    width: 80%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
  }
  .phoneMenu .contentMenuPhone ul.icon li {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    background-color: rgba(7, 125, 145, 0.4);
  }
  .phoneMenu .contentMenuPhone ul.icon li a {
    display: flex;
    text-decoration: none;
    color: #F1F1F1;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .phoneMenu .contentMenuPhone ul.icon li a i {
    position: relative;
    right: 0px;
    top: 0px;
    font-size: 1.6rem;
  }
  section.contact .contactContent .contactContentBox form label {
    margin: 0px auto;
    padding: 10px;
    margin-top: 30px;
    border-left: 2px solid #077d91;
    border-right: 2px solid #077d91;
    position: relative;
    display: block;
    width: 60%;
    height: 20px;
  }
  section.contact .contactContent .contactContentBox form input {
    width: 80%;
    outline: none;
    margin-bottom: 50px;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    color: #f9f9f9;
    border: none;
    padding: 3px;
    margin-left: 5px;
    z-index: 1;
  }
  section.contact .contactContent .contactContentBox h3 {
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: 0px auto;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #F1F1F1;
    position: relative;
    left: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    -webkit-transform: translateY(-50%) rotate(0deg);
  }
  section.contact .contactContent .contactContentBox h3::after {
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #077d91;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  section.skills .slider .sliderContent h3 {
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 40px;
    color: #f9f9f9;
    transform: rotate(-90deg) translateY(-50%);
    -webkit-transform: rotate(-90deg) translateY(-50%);
    margin: 0px;
    letter-spacing: 3px;
  }
}
@media only screen and (max-width: 788px) {
  .leftMenu {
    display: none;
  }
  /*------------------------------
              Top menu phone
  -------------------------------*/
  .topMenu {
    display: none;
  }
  /*------------------------------
              home phone
  -------------------------------*/
  section.home {
    width: 100%;
    height: 100vh;
    padding-top: 0px;
  }
  section.home .homeBox {
    height: 100vh;
  }
  section.home .homeBox .leftHomeBox {
    float: none;
    height: 50%;
    width: 80%;
    text-align: center;
    margin: 0px auto;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
  section.home .homeBox .leftHomeBox img {
    margin: 0px auto;
    width: 50%;
  }
  section.home .homeBox .rightHomeBox {
    height: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  section.home .homeBox .rightHomeBox h2 {
    transform: translateX(-100%);
    -webkit-transform: translateY(-100%);
  }
  /*--------------------------
          skills phone
  ---------------------------*/
  section.skills .skillsContent ul li {
    width: 40%;
    padding-left: 10px;
  }
  section.skills .skillsContent ul li h4 {
    font-size: 1rem;
  }
  section.skills .slider .sliderContent {
    padding-left: 20px;
    padding-right: 20px;
  }
  section.skills .slider .sliderContent h3 {
    position: relative;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    max-width: 200px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 40px;
  }
  section.skills .slider .sliderContent .sliderContentBox .boxShow {
    box-shadow: none;
  }
  section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide {
    background-size: 150% !important;
    overflow: hidden;
  }
  section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide p {
    top: -30px;
  }
  section.skills .slider .sliderContent .sliderContentBox .boxShow .boxShowContent .slide a {
    bottom: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
